*{
    box-sizing: border-box;
    margin:0;
  
 }


body{
    
    background-color: rgb(197, 197, 193);
    font-family:'Times New Roman', Times, serif;
 
}


.titulo{
        
        text-align: center;
        font-size: 40px;
    

}

img {
    
    margin:80px 70px;
    border: 0.5px solid  rgb(0, 0, 0);
}
    

.datos{
    
   float: right;
   position:absolute;
   top: 120PX;
   left: 310px;
  

   
 }
   
 
   h3, ul {
    margin: 20px;
}


   
   

.perfil{ 
        
        width: 80%;
        
        margin-left: 70px;
       
       
        padding-top: 20px;
        
       
    }

        

    


    
    
   
 




